<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="container">
        <h1 id="siteTitle">
          Workshop and International Research Conference 2025
        </h1>
        <p class="content">
          Korean Regional Science Association<br />
          Address : (06974 ) Bldg.303 #1328, 84, Heukseok-ro, Dongjak-gu,
          Seoul,Republic of Korea<br />
          사업자번호 : 116-82-03934 (대표: 박인권)<br />
          E-Mail : prsco2024@krsa83.or.kr
        </p>
        <p class="copyright">
          Copyright © Korean Regional Science Association, All rights reserved
          Designed &amp; Developed by
          <a href="http://www.devzec.com/" target="_blank"
            >Devzec Technologies</a
          >
        </p>
      </div>
    </footer>
    <script>
      if (window.location === window.parent.location)
        window.location.href = "/";
    </script>
  </body>
</html>
